beautifulsoup4==4.15.0
boto3==1.43.50
botocore==1.43.50
certifi==2026.6.17
charset-normalizer==3.4.9
idna==3.18
jmespath==1.1.0
packaging==26.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
s3transfer==0.19.1
setuptools==83.0.0
six==1.17.0
soupsieve==2.8.4
typing_extensions==4.16.0
urllib3==2.7.0
wheel==0.47.0
